body {
    background: url("mountain1.png");
    backdrop-filter: blur(15px);
    background-size: cover;
    height: 100vh;
    font-family: 'Patrick Hand', cursive;
}

.docs {
    border-radius: 20px;
    font-size: 40px;
    backdrop-filter: blur(5px);
}

.docs div {
    color: rgb(15, 3, 48);
    margin: 5px;
}

.cardo {
    border: 2px white solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
}

.img {
    padding: 20px;
    text-align: center;
}

.content {}
